* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// :root {
//   --background: #333;
//   --foreground: #ddd;
//   --fontFamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
// }

// $mainColor: yellowgreen;

body {
  // background: var(--background);
  background: #333;
  // color: var(--foreground);
  color: #ddd;
  // font-family: var(--fontFamily);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 1rem;

  nav {
    a.active {
      color: yellow;
    }
  }

  .components-Nav {
    color: #fff;
    font-size: 125%;

    .ul-Nav {
      display: flex;
      gap: 2rem;
      background-color: #711515;
      padding: 0.5rem;
      list-style: none;

      li.li-Nav {
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  h1 {
    // color: $mainColor;
    color: yellowgreen;
    margin-bottom: 1rem;
  }

  // p {
  //   font-size: 1.5rem;
  //   margin-top: 1rem;
  // }

  .techbook-p,
  .techskills-p {
    font-size: 150%;
    margin-top: 1rem;
    color: beige;

    span {
      color: tomato;
      font-weight: bold;
    }
  }

  .techbooks {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    .title {
      font-size: 150%;
      font-weight: bold;
      color: rgb(43, 202, 43);
    }

    .description {
      font-style: italic;
      font-size: larger;
      color: aqua;
    }
  }

  .techskills-p {
    margin-bottom: 1rem;
  }

  .techskills {
    // list-style: circle;
    padding: 0 2rem;

    li a {
      text-decoration: none;
      color: rgb(133, 195, 78);
      font-size: 130%;
    }
  }

  .pageWelcome {
    p {
      margin-top: 1rem;
      font-size: 150%;
      color: antiquewhite;
    }
  }
}

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// $mainColor: green;

// main {
//   h1 {
//     color: $mainColor;
//   }
// }
